/* *{
	outline: red 1px solid;
} */
body {
	background-color: black;
}
.main {
	background-image: url(../images/background.jpg);
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	margin-top: 110px;
	padding-left: 100px;
	height: 500px;
	min-width: 1200px;
	position: relative;
	z-index: 1;
}
.conor{
	float: left;
	width: 659px;
	height: 494px;
}
.conor-still,
.conor-ready,
.conor-strike,
.conor-taunt,
.fire {
	width: 659px;
	height: 494px;
	background-repeat: no-repeat;
}
.fire{
	background-image: url(../images/hadouken.gif);
	width: 156px;
	height: 90px;
	float: left;
	position: absolute;
	z-index: 10;
	top: 45px;
	left: 600px;
	float: left;
}

.conor-strike,
.conor-ready,
.conor-taunt,
.fire {
	display: none;
}
.conor-still {
	background-image: url(../images/conor-stance.gif);
}
.conor-ready {
	background-image: url(../images/conor-ready.gif);
}
.conor-strike{
	background-image: url(../images/conor-strike.gif);
}
.conor-taunt{
	background-image: url(../images/conor-taunt.gif);
}